@{
    ViewData["Title"] = "Export To Excel";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to demonstrate your Export To Excel functionality.</p>

<button type="button" class="btn btn-success active" onclick="location.href='@Url.Action("ExportData", "ExportToExcel")'">Export to Excel</button>
